body {
    font-family: Arial;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #00c853;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #00e676;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}
